body.cms-body {
    display: flex;
    min-height: 100vh;

    .cms-nav {
        width: 20%;
        min-height: 100vh;
        background-color: #ac87c5;

        .logo {
            .img-container {
                text-align: center;
                align-self: center;

                img {
                    width: 45px;
                }
            }

            .text {
                color: #fff;
                font-size: 18px;
                // text-align: start;
                align-self: center;
            }
        }

        ul {
            list-style: none;

            li {
                margin-bottom: 15px;
                font-size: 18px;

                a {
                    text-decoration: none;
                    color: #fff;
                    transition: 0.3s;

                    &:hover {
                        color: #feece2;
                    }
                }
            }
        }

        .accordion-item {
            .accordion-button {
                background-color: #ac87c5;
                font-size: 18px;
                color: #fff;

                &:focus {
                    box-shadow: none;
                    border-color: rgba(0, 0, 0, 0.125);
                    border-bottom: none;
                }

                &:after {
                    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
                }
            }

            .accordion-body {
                background-color: #ac87c5;

                li {
                    margin-bottom: 10px;
                }
            }
        }
    }

    .cms-page-content {
        width: 80%;
    }

    .menus-page {
        .spinner-add-menu {
            display: none;

            &.active {
                display: block;
            }
        }
    }

    .edit-menu-card {
        .top-panel {
            height: 280px;

            .edit-img-btn {
                display: block;

                &.hidden {
                    display: none;
                }
            }

            .edit-menu-img-panel {
                display: none;

                input,
                button {
                    font-size: 14px;
                }

                &.active {
                    display: flex;
                    flex-direction: column;
                }
            }

            .spinner-img-edit {
                display: none;

                &.active {
                    display: block;
                }
            }

            .edit-menu-details-form {
                width: 80%;

                div {
                    .form-label {
                        font-size: 15px;
                    }

                    input {
                        font-size: 15px;
                    }
                }

                button.edit-menu-details-btn {
                    display: block;
                    align-self: flex-end;

                    &.hidden {
                        display: none;
                    }
                }

                div.menu-edit-details-panel {
                    display: none;

                    &.active {
                        display: flex;
                        justify-content: end;
                    }
                }
            }
        }
    }
}

.confirm-modal {
    .spinner-menu-delete {
        display: none;

        &.active {
            display: block;
        }
    }
}

#add_rules_form,
#edit_rules_form {
    .spinner-rule {
        display: none;

        &.active {
            display: block;
        }
    }
}

.menu-items-list {
    list-style: none;
}

.single-menu-rule,
.single-menu-category {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    border: 1px solid #ddd;
    border-radius: 10px;

    .rule-content {
        width: 80%;

        .handle {
            cursor: grab;
        }

        p {
            margin-bottom: 0;
        }
    }
}

// .category-content {
//     display: flex;
//     align-items: center;
// }

.menu-items-list {
    padding: 0;

    .item-remove {
        line-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .bi-file-minus {
            font-size: 25px;
            max-height: 100%;
            cursor: pointer;
            transition: .2s;

            &:hover {
                font-size: 28px;
            }
        }
    }


}