.single-menu-content{
    background-color: #ff90bc;
    opacity: 1;
    background-image: radial-gradient(circle at center center, #d5d5d5, #ff90bc), repeating-radial-gradient(circle at center center, #d5d5d5, #d5d5d5, 8px, transparent 16px, transparent 8px);
    background-blend-mode: multiply;
}


.single-menu{
    width: 60%;
    margin: 0 auto;
    color: #fff;


    .menu-title{
        border-bottom: 1px solid #fff;
        h2{
            text-align: center;
            font-weight: bold;
            margin-top: 50px;
        }

        .serving-time{
            font-weight: bold;
            text-align: center;
        }
    }



    .rules{
        padding: 5px 20px;
        //border: 1px solid #fff;
        border-radius: 5px;
        max-width: 80%;
        margin: 0 auto 30px;
    }

    .submenu{
        h3{
            font-weight: bold;
            margin-bottom: 0;
        }


        .menu-items-list{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin: 0 auto;
            border-bottom: 1px solid #fff;

            .menu-item{
                width: 50%;

                .item-price{
                    text-align: center;
                }
                .ingredients{
                    font-size: 10px;
                }

            }
        }
    }
}

@media screen and (max-width: 768px) {
    .single-menu {
        width: 90%;

        .rules {
            padding: 5px;
            //border: 1px solid #fff;
            border-radius: 5px;
            max-width: 90%;
            margin: 0 auto 30px;
        }

        .submenu {
            .menu-price{
                text-align: end;
            }

            .menu-items-list {
                .menu-item {
                    width: 100%;

                    .item-price {
                        text-align: end;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .single-menu {
        .submenu {
            .menu-items-list {
                .menu-item {
                    .ingredients {
                        font-size: 8px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 480px) {

}




