//fonts

@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

//Glider

// Required Core Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

// Optional Theme Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

@import "header";
@import "nav-menu";
@import "home_page";
@import "footer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Anton", sans-serif;
}

html,
body {
    min-height: 100vh;
}
